body {
  background-color: #fff; }

#glogo {
  padding: 50px;
  width: 40%; }

.container {
  width: 80%; }

#sbox {
  margin:10px;
}

#sbox input {
  height: 50px;
  font-size: 14px;
  background-image: url("search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left:40px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: none;
}

#sbutton {
  height:50px;
}

.form-group input {
  margin: 10px;
}